<table>
  <tbody>
  <tr>
    <th>Bangwo8 Username</th>
    <td>
      <input type="bangwo8_username" id="settings_bangwo8_username" value="<%= settings['bangwo8_username'] %>" name="settings[bangwo8_username]" />
    </td>
  </tr>
  <tr>
    <th>Bangwo8 Password</th>
    <td>
      <input type="bangwo8_passwrd" id="settings_bangwo8_password" value="<%= settings['bangwo8_password'] %>" name="settings[bangwo8_password]" />
    </td>
  </tr>
  </tbody>
</table>
